<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{registration.page-name}"></title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="form-signin text-center">
    <form th:action="@{/registration}" th:method="post" th:object="${user}">
        <h1 class="h3 mb-3 fw-normal" th:text="#{registration.invitation}"></h1>
        <div>
            <label for="username" class="visually-hidden">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}"
                   aria-describedby="usernameValidation"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                   class="form-control" th:placeholder="#{login.username}" required>
            <div class="invalid-feedback" id="usernameValidation">
                <span th:each="err : ${#fields.errors('username')}" th:text="#{${err}}"></span>
            </div>
        </div>
        <div>
            <label for="password" class="visually-hidden">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}"
                   aria-describedby="passwordValidation"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                   class="form-control" th:placeholder="#{login.password}" required>
            <div class="invalid-feedback" id="passwordValidation">
                <span th:each="err : ${#fields.errors('password')}" th:text="#{${err}}"></span>
            </div>
        </div>
        <div>
            <label for="matchingPassword" class="visually-hidden">Repeat password</label>
            <input type="password" id="matchingPassword" name="matchingPassword" th:field="*{matchingPassword}"
                   aria-describedby="matchingPasswordValidation" th:classappend="${#fields.hasGlobalErrors()} ? 'is-invalid'"
                   class="form-control" th:placeholder="#{login.matchingPassword}" required>
            <div class="invalid-feedback" id="matchingPasswordValidation">
                <span th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="#{${err}}"></span>
            </div>
        </div>
        <div>
            <label for="email" class="visually-hidden">Email</label>
            <input type="text" id="email" name="email" th:field="*{email}" class="form-control"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                   aria-describedby="emailValidation" th:placeholder="#{login.email}" required>
            <div class="invalid-feedback" id="emailValidation">
                <span th:each="err : ${#fields.errors('email')}" th:text="#{${err}}"></span>
            </div>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" th:value="#{login.signup}">
    </form>
</main>
</body>
</html>