<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{registration.page-name}"></title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="form-signin text-center">
    <form th:action="@{/registration}" method="post">
        <h1 class="h3 mb-3 fw-normal" th:text="#{registration.invitation}"></h1>
        <span th:text="${message}"></span>
        <label for="username" class="visually-hidden">Username</label>
        <input type="text" name="username" id="username"
               class="form-control" th:placeholder="#{login.username}" required>
<!--        <span th:if="${#fields.hasErrors('username')}" th:errors="username" class="text-danger"></span>-->
        <label for="password" class="visually-hidden">Password</label>
        <input type="password" name="password" id="password"
               class="form-control" th:placeholder="#{login.password}" required>
<!--        <span th:if="${#fields.hasErrors('password')}" th:errors="password" class="text-danger"></span>-->
        <label for="email" class="visually-hidden">Email</label>
        <input type="email" name="email" id="email" class="form-control" th:placeholder="#{login.email}" required>
<!--        <span th:if="${#fields.hasErrors('email')}" th:errors="email" class="text-danger"></span>-->
        <input class="w-100 btn btn-lg btn-primary" type="submit" th:value="#{login.signup}">
    </form>
</main>
</body>
</html>